{% extends "core/base_iwe.html" %} {% block title %} Index {% endblock title %} {% load static %}

<!--  -->
{% block content %}
<style>
    .bg-main::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        background-image: url('../../static/img/logo_3E1.svg');
        background-repeat: no-repeat;
        opacity: 0.10;
        background-size: contain;
        background-position-y: top;
    }
</style>
<!--  -->



<div class="p-0 m-0">






    <div class="main_container">

        <!-- BANNER -->
        <div class="banner my-7">
            <h1 class="mb-5">IWe Consulting</h1>
            <h2>Building Teams, Elevating Minds</h2>

            <!-- <h3>
                but
            </h3> -->

            <!-- <h1>Летс го то д диско тонајт</h1> -->
        </div>


        <!-- SERVICES -->
        <div class="services my-7 container-fluid">

            <h2>
                There are a few ways to work together.
            </h2>

            <div class="row my-7 g-5">

                <!-- 1 -->
                <div class="col-lg-6">
                    <div class="service-item">

                        <img class="service-item-img" src="{% static 'img/svg/vector-1.svg' %}" alt="">

                        <div class="f-color-gray">
                            <div class="pb-2">
                                <div class="frank-ruhl-libre">
                                    <h3> <strong>  Frank Ruhl Libre </strong>, serif!important</h3>
                                </div>
                            </div>

                            <div class="f-25">
                                <div class="frank-ruhl-libre pb-3 font-700" style="">
                                    Team Building
                                </div>
                            </div>

                            <div class="frank-ruhl-libre pb-4">
                                <h3> In today’s fast-paced business environment, effective teamwork is crucial to maintaining productivity and morale.</h3>
                            </div>

                            <div class="btn-link">
                                <div class="btn-link-text-wrapper">
                                    <div class="btn-link-text frank-ruhl-libre">Start a Project</div>
                                    <div class="btn-link-underline">
                                        <div class="btn-link-underline-hover" style="width: 0%; height: 1px;"></div>
                                        <div class="btn-link-underline-none"></div>
                                    </div>
                                </div>
                                <div class="btn-link-arrow" style="transform: translate3d(0em, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;">
                                    <div class="w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="100%" fill="currentColor" viewBox="0 0 14 13">
                                    <path d="m6.836.816-.547.52c-.137.137-.137.355 0 .465l4.238 4.238H1.203a.332.332 0 0 0-.328.328v.766c0 .191.137.328.328.328h9.324L6.29 11.727c-.137.109-.137.328 0 .464l.547.52c.11.137.328.137.465 0l5.715-5.715a.315.315 0 0 0 0-.465L7.3.816c-.137-.136-.356-.136-.465 0Z"></path>
                                  </svg></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <!-- 2 -->
                <div class="col-lg-6">
                    <div class="service-item">

                        <img class="service-item-img" src="{% static 'img/svg/vector-2.svg' %}" alt="">

                        <div class="f-color-gray">
                            <div class="f-18 pb-2">
                                <div class="Spectral">
                                    <strong>  Spectral</strong>, serif!important
                                </div>
                            </div>

                            <div class="f-25">
                                <div class="Spectral pb-3 font-700" style="letter-spacing: -1px;">
                                    Professional Training
                                </div>
                            </div>

                            <div class="f-18 Spectral pb-4 Spectral">
                                At IWe Consulting, we believe that a skilled and adaptable workforce is essential to an organization’s growth and resilience
                            </div>

                            <div class="btn-link">
                                <div class="btn-link-text-wrapper">
                                    <div class="btn-link-text Spectral">Start a Project</div>
                                    <div class="btn-link-underline">
                                        <div class="btn-link-underline-hover" style="width: 0%; height: 1px;"></div>
                                        <div class="btn-link-underline-none"></div>
                                    </div>
                                </div>
                                <div class="btn-link-arrow" style="transform: translate3d(0em, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;">
                                    <div class="w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="100%" fill="currentColor" viewBox="0 0 14 13">
                                <path d="m6.836.816-.547.52c-.137.137-.137.355 0 .465l4.238 4.238H1.203a.332.332 0 0 0-.328.328v.766c0 .191.137.328.328.328h9.324L6.29 11.727c-.137.109-.137.328 0 .464l.547.52c.11.137.328.137.465 0l5.715-5.715a.315.315 0 0 0 0-.465L7.3.816c-.137-.136-.356-.136-.465 0Z"></path>
                              </svg></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- 3 -->
                <div class="col-lg-6">
                    <div class="service-item">

                        <img class="service-item-img" src="{% static 'img/svg/vector-3.svg' %}" alt="">

                        <div class="f-color-gray">
                            <div class="f-18 pb-2">
                                <div class="poppins">
                                    <strong>  Poppins</strong>, serif!important
                                </div>
                            </div>

                            <div class="f-25">
                                <div class="poppins pb-3 font-700" style="letter-spacing: -1px;">
                                    Professional Training
                                </div>
                            </div>

                            <div class="f-18 poppins pb-4 poppins">
                                At IWe Consulting, we believe that a skilled and adaptable workforce is essential to an organization’s growth and resilience
                            </div>

                            <div class="btn-link">
                                <div class="btn-link-text-wrapper">
                                    <div class="btn-link-text poppins">Start a Project</div>
                                    <div class="btn-link-underline">
                                        <div class="btn-link-underline-hover" style="width: 0%; height: 1px;"></div>
                                        <div class="btn-link-underline-none"></div>
                                    </div>
                                </div>
                                <div class="btn-link-arrow" style="transform: translate3d(0em, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;">
                                    <div class="w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="100%" fill="currentColor" viewBox="0 0 14 13">
                                <path d="m6.836.816-.547.52c-.137.137-.137.355 0 .465l4.238 4.238H1.203a.332.332 0 0 0-.328.328v.766c0 .191.137.328.328.328h9.324L6.29 11.727c-.137.109-.137.328 0 .464l.547.52c.11.137.328.137.465 0l5.715-5.715a.315.315 0 0 0 0-.465L7.3.816c-.137-.136-.356-.136-.465 0Z"></path>
                              </svg></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- 4 -->
                <div class="col-lg-6">
                    <div class="service-item">

                        <img class="service-item-img" src="{% static 'img/svg/vector-4.svg' %}" alt="">

                        <div class="f-color-gray">
                            <div class="f-18 pb-2">
                                <div class="arapey-regular">
                                    <strong>  arapey-regular</strong>, serif!important
                                </div>
                            </div>

                            <div class="f-25">
                                <div class="arapey-regular pb-3 font-700" style="letter-spacing: -1px;">
                                    Professional Training
                                </div>
                            </div>

                            <div class="f-18 arapey-regular pb-4 arapey-regular">
                                At IWe Consulting, we believe that a skilled and adaptable workforce is essential to an organization’s growth and resilience
                            </div>

                            <div class="btn-link">
                                <div class="btn-link-text-wrapper">
                                    <div class="btn-link-text arapey-regular">Start a Project</div>
                                    <div class="btn-link-underline">
                                        <div class="btn-link-underline-hover" style="width: 0%; height: 1px;"></div>
                                        <div class="btn-link-underline-none"></div>
                                    </div>
                                </div>
                                <div class="btn-link-arrow" style="transform: translate3d(0em, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;">
                                    <div class="w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="100%" fill="currentColor" viewBox="0 0 14 13">
                                <path d="m6.836.816-.547.52c-.137.137-.137.355 0 .465l4.238 4.238H1.203a.332.332 0 0 0-.328.328v.766c0 .191.137.328.328.328h9.324L6.29 11.727c-.137.109-.137.328 0 .464l.547.52c.11.137.328.137.465 0l5.715-5.715a.315.315 0 0 0 0-.465L7.3.816c-.137-.136-.356-.136-.465 0Z"></path>
                              </svg></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


        </div>

    </div>

</div>










<!--  -->
{% endblock %}