/* @import url(https://unpkg.com/@webpixels/css@1.0/dist/index.css); */


/* #5c0098 */

body {
    font-family: "Spectral", serif!important;
    font-family: "Frank Ruhl Libre", serif!important;
    /* font-family: "Poppins", serif!important; */
    font-weight: 400!important;
}

.Spectral {
    font-family: "Spectral", serif!important;
}

.frank-ruhl-libre {
    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.arapey-regular {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
}

.arapey-regular-italic {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: italic;
}

.main_container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.main_container {
    max-width: 1540px;
}

.services {
    width: 100%;
}

.service-item {
    width: 100%;
    background-color: #fbfbfb;
    border: .25em solid #fbfbfb;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4em 5em;
    transition: all .3s;
    display: flex;
}

.service-item-img {
    width: auto;
    height: 12.5em;
    opacity: .5;
}

@media (max-width:980px) {
    .service-item {
        padding: .4em .5em;
    }
    .service-item-img {
        width: auto;
        height: auto;
        opacity: .5;
    }
}

img {
    max-width: 100%;
    display: inline-block;
}

.banner {
    height: 350px;
    border-bottom: solid 1px gray;
}


/* fonts */

h2 {
    font-size: 3em;
}

.f-color-grey {
    color: #828282;
}

.f-18 {
    font-size: 1.5rem;
    line-height: 1.5;
}

.f-25 {
    font-size: 2.45rem;
}

.font-700 {
    font-weight: 700;
}


/* margins and paddings */

.my-7 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: #5c0098;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-link {
    grid-column-gap: 1em;
    white-space: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.btn-link-text-wrapper {
    flex-direction: column;
    display: flex;
}

.btn-link-underline {
    width: 100%;
    height: 1px;
    justify-content: flex-start;
    margin-top: .625em;
    display: flex;
    position: relative;
}

.btn-link-arrow {
    width: 1.125em;
    height: 1.125em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn-link-text {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1.05rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: var(--bs-body-bg);
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: var(--bs-box-shadow);
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
}

.border-1 {
    border-color: black;
    border-style: solid;
}